services:
  postgres:
    build:
      context: ..
      dockerfile: docker/postgresDockerfile
    container_name: planner-postgres
    env_file:
      - .env.local
    ports:
      - "5432:5432"
    volumes:
      # Mount initialization scripts
      - ../db:/docker-entrypoint-initdb.d
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
